# Data Cleaning

In [113]:
import pandas as pd

## Total GHG Dataset

In [50]:
total_ghg = pd.read_csv('datasets/factors/total-ghg-emissions.csv')

In [52]:
total_ghg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35226 entries, 0 to 35225
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Entity                           35226 non-null  object
 1   Code                             34200 non-null  object
 2   Year                             35226 non-null  int64
 3   Annual greenhouse gas emissions  35226 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.1+ MB

In [75]:
total_ghg_country = total_ghg[[len(str(x)) == 3 for x in total_ghg['Code']]]

In [83]:
total_ghg_without_iso = total_ghg_country[total_ghg_country['Code'].isna()]

In [84]:
total_ghg_world = total_ghg[total_ghg['Entity'] == 'World']

In [94]:
total_ghg_country = total_ghg_country.dropna()

In [95]:
total_ghg_country

            Entity Code  Year  Annual greenhouse gas emissions
0      Afghanistan  AFG  1851                        7373214.5
1      Afghanistan  AFG  1852                        7422393.5
2      Afghanistan  AFG  1853                        7483595.5
3      Afghanistan  AFG  1854                        7532321.0
4      Afghanistan  AFG  1855                        7580708.5
...            ...  ...   ...                              ...
35221     Zimbabwe  ZWE  2017                       37999464.0
35222     Zimbabwe  ZWE  2018                       39079344.0
35223     Zimbabwe  ZWE  2019                       38701420.0
35224     Zimbabwe  ZWE  2020                       37733230.0
35225     Zimbabwe  ZWE  2021                       38060004.0

[34029 rows x 4 columns]

In [91]:
total_ghg_without_iso

        Entity Code  Year  Annual greenhouse gas emissions
855    Annex I  NaN  1851                     2.269137e+09
856    Annex I  NaN  1852                     2.301952e+09
857    Annex I  NaN  1853                     2.354308e+09
858    Annex I  NaN  1854                     2.428702e+09
859    Annex I  NaN  1855                     2.445340e+09
...        ...  ...   ...                              ...
23764     OECD  NaN  2017                     1.559025e+10
23765     OECD  NaN  2018                     1.568621e+10
23766     OECD  NaN  2019                     1.532443e+10
23767     OECD  NaN  2020                     1.416157e+10
23768     OECD  NaN  2021                     1.478845e+10

[1026 rows x 4 columns]

In [310]:
total_ghg_world

      Entity      Code  Year  Annual greenhouse gas emissions
34542  World  OWID_WRL  1851                     4.100721e+09
34543  World  OWID_WRL  1852                     4.156867e+09
34544  World  OWID_WRL  1853                     4.233854e+09
34545  World  OWID_WRL  1854                     4.308952e+09
34546  World  OWID_WRL  1855                     4.336073e+09
...      ...       ...   ...                              ...
34708  World  OWID_WRL  2017                     5.340529e+10
34709  World  OWID_WRL  2018                     5.406630e+10
34710  World  OWID_WRL  2019                     5.482132e+10
34711  World  OWID_WRL  2020                     5.258525e+10
34712  World  OWID_WRL  2021                     5.459319e+10

[171 rows x 4 columns]

In [106]:
print('Total GHG ALL Shape', total_ghg.shape)
print('Total Shape Country', total_ghg_country.shape)
print('Total Shape w/o ISO', total_ghg_without_iso.shape)
print('Total Shape World  ', total_ghg_world.shape)

Total GHG ALL Shape (35226, 4)
Total Shape Country (34029, 4)
Total Shape w/o ISO (1026, 4)
Total Shape World   (171, 4)

In [177]:
print('Checking Divisions:', (35226-34029-1026-171) == 0)

Checking Divisions: True

## Per Capita GHG Dataset

In [114]:
perCapita_ghg = pd.read_csv('datasets/factors/per-capita-ghg-emissions.csv')

In [118]:
perCapita_ghg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33558 entries, 0 to 33557
Data columns (total 4 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Entity                               33558 non-null  object
 1   Code                                 33558 non-null  object
 2   Year                                 33558 non-null  int64
 3   Greenhouse gas emissions per person  33558 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.0+ MB

In [130]:
perCapita_ghg_country = perCapita_ghg[[len(str(x)) == 3 for x in perCapita_ghg['Code']]]

In [131]:
perCapita_ghg_world = perCapita_ghg[perCapita_ghg['Entity'] == 'World']

In [134]:
print('Per Capita GHG ALL Shape    ', perCapita_ghg.shape)
print('Per Capita GHG Country Shape', perCapita_ghg_country.shape)
print('Per Capita GHG World Shape  ', perCapita_ghg_world.shape)

Per Capita GHG ALL Shape     (33558, 4)
Per Capita GHG Country Shape (33387, 4)
Per Capita GHG World Shape   (171, 4)

In [175]:
print('Checking Divisions:', (33558-33387-171) == 0)

Checking Divisions: True

In [176]:
perCapita_ghg_country.isna().sum()
# confirm no null values

Entity                                 0
Code                                   0
Year                                   0
Greenhouse gas emissions per person    0
dtype: int64

# Global Displacement Dataset

In [330]:
displacement = pd.read_excel('datasets/effects/IDMC_GIDD_disasters_internal_displacement_data_2021-1680745854911.xlsx')

In [331]:
weather_related_dis = displacement[displacement['Hazard Category'] == 'Weather related']
geo_related_dis = displacement[displacement['Hazard Category'] == 'Geophysical']
na_related_dis = displacement[displacement['Hazard Category'].isna()]

In [332]:
print('ALL Shape', displacement.shape)
print('Geo Shape', geo_related_dis.shape)
print('Wea Shape', weather_related_dis.shape)
print('NA Shape ', na_related_dis.shape)

ALL Shape (11140, 9)
Geo Shape (670, 9)
Wea Shape (10467, 9)
NA Shape  (3, 9)

In [333]:
print('Checking Division: ', (11140-670-10467-3) == 0)

Checking Division:  True

### Clean Weather Related Displacement

In [334]:
weather_related_dis.isna().sum()

ISO3                                 0
Country / Territory                  0
Year                                 0
Event Name                         436
Date of event (start)                0
Disaster Internal Displacements      0
Hazard Category                      0
Hazard Type                          0
Hazard Sub Type                    523
dtype: int64

In [335]:
weather_related_dis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10467 entries, 0 to 11139
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ISO3                             10467 non-null  object
 1   Country / Territory              10467 non-null  object
 2   Year                             10467 non-null  int64
 3   Event Name                       10031 non-null  object
 4   Date of event (start)            10467 non-null  object
 5   Disaster Internal Displacements  10467 non-null  int64
 6   Hazard Category                  10467 non-null  object
 7   Hazard Type                      10467 non-null  object
 8   Hazard Sub Type                  9944 non-null   object
dtypes: int64(2), object(7)
memory usage: 817.7+ KB

In [336]:
weather_related_dis

,ISO3,Country / Territory,Year,Event Name,Date of event (start),Disaster Internal Displacements,Hazard Category,Hazard Type,Hazard Sub Type
0,AB9,Abyei Area,2018,Abyie: Flood - 01/07/2018,2018-07-01T00:00:00Z,2,Weather related,Flood,Flood
1,AB9,Abyei Area,2019,Abyei: Flood - southern parts - 01/06/2019,2019-06-01T00:00:00Z,40000,Weather related,Flood,Flood
3,AFG,Afghanistan,2008,NaN,2008-08-01T00:00:00Z,180,Weather related,Flood,Flood
4,AFG,Afghanistan,2009,2009-000080,2009-01-01T00:00:00Z,25000,Weather related,Flood,Flood
6,AFG,Afghanistan,2010,2010-000077,2010-01-01T00:00:00Z,70000,Weather related,Flood,Flood
...,...,...,...,...,...,...,...,...,...
11135,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,1100,Weather related,Storm,"Storm, Tropical, Cyclone"
11136,ZWE,Zimbabwe,2021,Zimbabwe: Hailstorm - Manicaland (Mutare Rural...,2021-11-01T00:00:00Z,330,Weather related,Storm,Hailstorm
11137,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,270,Weather related,Storm,"Storm, Tropical, Cyclone"
11138,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,140,Weather related,Storm,"Storm, Tropical, Cyclone"
11139,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,140,Weather related,Storm,"Storm, Tropical, Cyclone"

In [337]:
weather_related_dis['Disaster Internal Displacements'].sum()

305598573

In [338]:
geo_related_dis['Disaster Internal Displacements'].sum()

36742248

In [339]:
print('Total Disaster Displacement:', 305598573+36742248)
# confirmed in the website

Total Disaster Displacement: 342340821

In [340]:
weather_related_dis

,ISO3,Country / Territory,Year,Event Name,Date of event (start),Disaster Internal Displacements,Hazard Category,Hazard Type,Hazard Sub Type
0,AB9,Abyei Area,2018,Abyie: Flood - 01/07/2018,2018-07-01T00:00:00Z,2,Weather related,Flood,Flood
1,AB9,Abyei Area,2019,Abyei: Flood - southern parts - 01/06/2019,2019-06-01T00:00:00Z,40000,Weather related,Flood,Flood
3,AFG,Afghanistan,2008,NaN,2008-08-01T00:00:00Z,180,Weather related,Flood,Flood
4,AFG,Afghanistan,2009,2009-000080,2009-01-01T00:00:00Z,25000,Weather related,Flood,Flood
6,AFG,Afghanistan,2010,2010-000077,2010-01-01T00:00:00Z,70000,Weather related,Flood,Flood
...,...,...,...,...,...,...,...,...,...
11135,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,1100,Weather related,Storm,"Storm, Tropical, Cyclone"
11136,ZWE,Zimbabwe,2021,Zimbabwe: Hailstorm - Manicaland (Mutare Rural...,2021-11-01T00:00:00Z,330,Weather related,Storm,Hailstorm
11137,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,270,Weather related,Storm,"Storm, Tropical, Cyclone"
11138,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,140,Weather related,Storm,"Storm, Tropical, Cyclone"
11139,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,140,Weather related,Storm,"Storm, Tropical, Cyclone"

In [343]:
weather_related_dis = weather_related_dis[['ISO3', 'Country / Territory', 'Year', 'Disaster Internal Displacements']].groupby(['Country / Territory', 'ISO3', 'Year']).sum().reset_index()
# Grouped according to country and aggregated by year

In [345]:
weather_related_dis

     Country / Territory ISO3  Year  Disaster Internal Displacements
0             Abyei Area  AB9  2018                                2
1             Abyei Area  AB9  2019                            40000
2            Afghanistan  AFG  2008                              180
3            Afghanistan  AFG  2009                            25000
4            Afghanistan  AFG  2010                            70000
...                  ...  ...   ...                              ...
1451            Zimbabwe  ZWE  2017                            10308
1452            Zimbabwe  ZWE  2018                             1066
1453            Zimbabwe  ZWE  2019                            52400
1454            Zimbabwe  ZWE  2020                              385
1455            Zimbabwe  ZWE  2021                             2338

[1456 rows x 4 columns]

## GHG Factors Dataset

In [346]:
ghg_factors = pd.read_csv('datasets/factors/owid-co2-data.csv')
ghg_factors_meta = pd.read_csv('datasets/factors/owid-co2-codebook.csv')

Check the industries contributing to GHG emissions

In [347]:
rows = ghg_factors_meta.shape[0]
for i in range(rows):
    print(ghg_factors_meta['column'][i], '-', ghg_factors_meta['description'][i])
    print()

country - Geographic location.

year - Year of observation.

iso_code - ISO 3166-1 alpha-3, three-letter country codes.

population - Population of each country or region.

gdp - Gross domestic product measured in international-$ using 2011 prices to adjust for price changes over time (inflation) and price differences between countries. Calculated by multiplying GDP per capita with population.

cement_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from cement, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cement_co2_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚) from cement, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2 - Annual total production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_growth_abs - Annual growth in total production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_growth_prct - Annual percentage growth in total production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_including_luc - Annual total production-based emissions of carbon dioxide (COâ‚‚), including land-use change, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_including_luc_growth_abs - Annual growth in total production-based emissions of carbon dioxide (COâ‚‚), including land-use change, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_including_luc_growth_prct - Annual percentage growth in total production-based emissions of carbon dioxide (COâ‚‚), including land-use change. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_including_luc_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚), including land-use change, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_including_luc_per_gdp - Annual total production-based emissions of carbon dioxide (COâ‚‚), including land-use change, measured in kilograms per dollar of GDP (2011 international-$). Production-based emissions are based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_including_luc_per_unit_energy - Annual total production-based emissions of carbon dioxide (COâ‚‚), including land-use change, measured in kilograms per kilowatt-hour of primary energy consumption. Production-based emissions are based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_per_capita - Annual total production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_per_gdp - Annual total production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, measured in kilograms per dollar of GDP (2011 international-$). Production-based emissions are based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_per_unit_energy - Annual total production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, measured in kilograms per kilowatt-hour of primary energy consumption. Production-based emissions are based on territorial emissions, which do not account for emissions embedded in traded goods.

coal_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from coal, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

coal_co2_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚) from coal, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

consumption_co2 - Annual consumption-based emissions of carbon dioxide (COâ‚‚), measured in million tonnes. Consumption-based emissions are national or regional emissions which have been adjusted for trade (i.e. territorial/production emissions minus emissions embedded in exports, plus emissions embedded in imports). If a country's consumption-based emissions are higher than its production emissions it is a net importer of carbon dioxide. Data has been converted by Our World in Data from million tonnes of carbon to million tonnes of COâ‚‚ using a conversion factor of 3.664.

consumption_co2_per_capita - Annual consumption-based emissions of carbon dioxide (COâ‚‚), measured in tonnes per person. Consumption-based emissions are national or regional emissions which have been adjusted for trade (i.e. territorial/production emissions minus emissions embedded in exports, plus emissions embedded in imports). If a country's consumption-based emissions are higher than its production emissions it is a net importer of carbon dioxide. Consumption-based COâ‚‚ emissions have been converted by Our World in Data from tonnes of carbon to tonnes of COâ‚‚ using a conversion factor of 3.664.

consumption_co2_per_gdp - Annual consumption-based emissions of carbon dioxide (COâ‚‚), measured in kilograms per dollar of GDP (2011 international-$). Consumption-based emissions are national or regional emissions which have been adjusted for trade (i.e. territorial/production emissions minus emissions embedded in exports, plus emissions embedded in imports). If a country's consumption-based emissions are higher than its production emissions it is a net importer of carbon dioxide. Consumption-based COâ‚‚ emissions have been converted by Our World in Data from tonnes of carbon to tonnes of COâ‚‚ using a conversion factor of 3.664.

cumulative_cement_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from cement since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_co2 - Total cumulative production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_co2_including_luc - Total cumulative production-based emissions of carbon dioxide (COâ‚‚), including land-use change, since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_coal_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from coal since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_flaring_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from flaring since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_gas_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from gas since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_luc_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from land-use change since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_oil_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from oil since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_other_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from other industry sources since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

energy_per_capita - Primary energy consumption per capita, measured in kilowatt-hours per person per year.

energy_per_gdp - Primary energy consumption per unit of gross domestic product, measured in kilowatt-hours per international-$.

flaring_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from flaring, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

flaring_co2_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚) from flaring, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

gas_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from gas, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

gas_co2_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚) from gas, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

ghg_excluding_lucf_per_capita - Total greenhouse gas emissions excluding land-use change and forestry, measured in tonnes of carbon dioxide-equivalents per capita.

ghg_per_capita - Total greenhouse gas emissions including land-use change and forestry, measured in tonnes of carbon dioxide-equivalents per capita.

land_use_change_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from land-use change, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

land_use_change_co2_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚) from land-use change, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

methane - Total methane emissions including land-use change and forestry, measured in million tonnes of carbon dioxide-equivalents.

methane_per_capita - Total methane emissions including land-use change and forestry, measured in tonnes of carbon dioxide-equivalents per capita.

nitrous_oxide - Total nitrous oxide emissions including land-use change and forestry, measured in million tonnes of carbon dioxide-equivalents.

nitrous_oxide_per_capita - Total nitrous oxide emissions including land-use change and forestry, measured in tonnes of carbon dioxide-equivalents per capita.

oil_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from oil, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

oil_co2_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚) from oil, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

other_co2_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚) from other industry sources, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

other_industry_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from other industry sources, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

primary_energy_consumption - Primary energy consumption, measured in terawatt-hours per year.

share_global_cement_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from cement, measured as a percentage of global production-based emissions of COâ‚‚ from cement in the same year. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions from cement has been calculated by Our World in Data using global COâ‚‚ emissions from cement provided in the Global Carbon Budget dataset.

share_global_co2 - Annual total production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, measured as a percentage of global production-based emissions of COâ‚‚ in the same year. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions has been calculated by Our World in Data using global COâ‚‚ emissions provided in the Global Carbon Budget dataset. Global emissions include all country emissions as well as emissions from international aviation and shipping.

share_global_co2_including_luc - Annual total production-based emissions of carbon dioxide (COâ‚‚), including land-use change, measured as a percentage of global total production-based emissions of COâ‚‚ in the same year. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions has been calculated by Our World in Data using global COâ‚‚ emissions provided in the Global Carbon Budget dataset. Global emissions include all country emissions as well as emissions from international aviation and shipping.

share_global_coal_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from coal, measured as a percentage of global production-based emissions of COâ‚‚ from coal in the same year. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions from coal has been calculated by Our World in Data using global COâ‚‚ emissions from coal provided in the Global Carbon Budget dataset.

share_global_cumulative_cement_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from cement since the first year of data availability, measured as a percentage of global cumulative production-based emissions of COâ‚‚ from cement since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions from cement has been calculated by Our World in Data using global COâ‚‚ emissions from cement provided in the Global Carbon Budget dataset.

share_global_cumulative_co2 - Total cumulative production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, since the first year of data availability, measured as a percentage of global total cumulative production-based emissions of COâ‚‚ since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions has been calculated by Our World in Data using global COâ‚‚ emissions provided in the Global Carbon Budget dataset. Global emissions include all country emissions as well as emissions from international aviation and shipping.

share_global_cumulative_co2_including_luc - Total cumulative production-based emissions of carbon dioxide (COâ‚‚), including land-use change, since the first year of data availability, measured as a percentage of global total cumulative production-based emissions of COâ‚‚ (including land-use change) since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions has been calculated by Our World in Data using global COâ‚‚ emissions provided in the Global Carbon Budget dataset. Global emissions include all country emissions as well as emissions from international aviation and shipping.

share_global_cumulative_coal_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from coal since the first year of data availability, measured as a percentage of global cumulative production-based emissions of COâ‚‚ from coal since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions from coal has been calculated by Our World in Data using global COâ‚‚ emissions from coal provided in the Global Carbon Budget dataset.

share_global_cumulative_flaring_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from flaring since the first year of data availability, measured as a percentage of global cumulative production-based emissions of COâ‚‚ from flaring since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions from flaring has been calculated by Our World in Data using global COâ‚‚ emissions from flaring provided in the Global Carbon Budget dataset.

share_global_cumulative_gas_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from gas since the first year of data availability, measured as a percentage of global cumulative production-based emissions of COâ‚‚ from gas since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions from gas has been calculated by Our World in Data using global COâ‚‚ emissions from gas provided in the Global Carbon Budget dataset.

share_global_cumulative_luc_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from land-use change since the first year of data availability, measured as a percentage of global cumulative production-based emissions of COâ‚‚ from land-use chang since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions has been calculated by Our World in Data using global COâ‚‚ emissions provided in the Global Carbon Budget dataset.

share_global_cumulative_oil_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from oil since the first year of data availability, measured as a percentage of global cumulative production-based emissions of COâ‚‚ from oil since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions from oil has been calculated by Our World in Data using global COâ‚‚ emissions from oil provided in the Global Carbon Budget dataset. Global oil emissions include all country emissions as well as emissions from international aviation and shipping.


### Extract World Fossil Fuel Industry

In [348]:
world_ghg = ghg_factors[ghg_factors['country'] == 'World']

In [349]:
world_ghg = world_ghg[['country','year','cement_co2', 'coal_co2', 'gas_co2', 'oil_co2', 'flaring_co2', 'other_industry_co2']].reset_index()

In [350]:
world_ghg[world_ghg['year'] == 2017][['country','year','cement_co2', 'coal_co2', 'gas_co2', 'oil_co2', 'flaring_co2', 'other_industry_co2']]

,country,year,cement_co2,coal_co2,gas_co2,oil_co2,flaring_co2,other_industry_co2
267,World,2017,1507.923,14506.974,7144.928,12242.628,391.992,302.294

In [351]:
print('Total Emission (2017): ',(1507.923+14506.974+7144.928+12242.628+391.992+302.294) * 1_000_000)
# accuracy check with the Kurzgesagt video

Total Emission (2017):  36096739000.0

In [352]:
del world_ghg['index']

In [353]:
world_ghg = world_ghg.fillna(0)

In [354]:
world_ghg

,country,year,cement_co2,coal_co2,gas_co2,oil_co2,flaring_co2,other_industry_co2
0,World,1750,0.000,9.351,0.000,0.000,0.000,0.000
1,World,1751,0.000,9.351,0.000,0.000,0.000,0.000
2,World,1752,0.000,9.354,0.000,0.000,0.000,0.000
3,World,1753,0.000,9.354,0.000,0.000,0.000,0.000
4,World,1754,0.000,9.358,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...
267,World,2017,1507.923,14506.974,7144.928,12242.628,391.992,302.294
268,World,2018,1569.218,14746.831,7529.847,12266.017,412.116,302.479
269,World,2019,1617.507,14725.978,7647.528,12345.653,439.254,306.639
270,World,2020,1637.537,14174.564,7556.290,11191.809,407.584,296.302
271,World,2021,1672.592,14979.598,7921.830,11837.159,416.526,296.146

## Global Temperature Anomaly

In [403]:
global_temp = pd.read_csv('datasets/factors/climate-change.csv')

In [404]:
global_temp = global_temp[global_temp['Entity'] == 'World']

In [405]:
global_temp = global_temp[['Entity', 'Date', 'Temperature anomaly']].dropna().reset_index()

In [407]:
del global_temp['index']

In [408]:
global_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718 entries, 0 to 1717
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Entity               1718 non-null   object
 1   Date                 1718 non-null   object
 2   Temperature anomaly  1718 non-null   float64
dtypes: float64(1), object(2)
memory usage: 40.4+ KB

In [409]:
global_temp['Date'] = pd.to_datetime(global_temp['Date'])

In [410]:
global_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718 entries, 0 to 1717
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Entity               1718 non-null   object
 1   Date                 1718 non-null   datetime64[ns]
 2   Temperature anomaly  1718 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 40.4+ KB

In [415]:
global_temp['Year'] = global_temp['Date'].dt.year

In [420]:
global_temp = global_temp[['Entity', 'Year', 'Temperature anomaly']].groupby(['Entity','Year']).mean().reset_index()

In [421]:
global_temp

    Entity  Year  Temperature anomaly
0    World  1880            -0.166667
1    World  1881            -0.082500
2    World  1882            -0.110000
3    World  1883            -0.174167
4    World  1884            -0.280000
..     ...   ...                  ...
139  World  2019             0.976667
140  World  2020             1.017500
141  World  2021             0.844167
142  World  2022             0.891667
143  World  2023             0.915000

[144 rows x 3 columns]

# Exporting the Datasets

### Final touch before export, checking and making the column names uniform

Total greenhouse gas emission per country - annual basis

In [436]:
total_ghg_country = total_ghg_country.rename(columns = {'Entity' : 'Name', 'Code' : 'ISO', 'Annual greenhouse gas emissions': 'GHG Emissions'})

In [437]:
total_ghg_country

              Name  ISO  Year  GHG Emissions
0      Afghanistan  AFG  1851      7373214.5
1      Afghanistan  AFG  1852      7422393.5
2      Afghanistan  AFG  1853      7483595.5
3      Afghanistan  AFG  1854      7532321.0
4      Afghanistan  AFG  1855      7580708.5
...            ...  ...   ...            ...
35221     Zimbabwe  ZWE  2017     37999464.0
35222     Zimbabwe  ZWE  2018     39079344.0
35223     Zimbabwe  ZWE  2019     38701420.0
35224     Zimbabwe  ZWE  2020     37733230.0
35225     Zimbabwe  ZWE  2021     38060004.0

[34029 rows x 4 columns]

Greenhouse gas emission to population ratio per country - annual basis

In [434]:
perCapita_ghg_country.rename(columns = {'Entity' : 'Name', 'Code' : 'ISO', 'Annual greenhouse gas emissions': 'GHG Emissions per Capita'})

              Name  ISO  Year  Greenhouse gas emissions per person
0      Afghanistan  AFG  1851                             1.955849
1      Afghanistan  AFG  1852                             1.959601
2      Afghanistan  AFG  1853                             1.965935
3      Afghanistan  AFG  1854                             1.968897
4      Afghanistan  AFG  1855                             1.971694
...            ...  ...   ...                                  ...
33553     Zimbabwe  ZWE  2017                             2.576042
33554     Zimbabwe  ZWE  2018                             2.596256
33555     Zimbabwe  ZWE  2019                             2.520509
33556     Zimbabwe  ZWE  2020                             2.408044
33557     Zimbabwe  ZWE  2021                             2.379713

[33387 rows x 4 columns]

Weather related disaster displacement per country/territory - annual basis

Fossil fuel industry and other industries emission in the world - annual basis

In [432]:
world_related_dis = weather_related_dis.rename(columns = {'Country / Territory' : 'Name', 'ISO3' : 'ISO', 'Disaster Internal Displacements': 'Weather Related Displacements'})

In [433]:
world_related_dis

             Name  ISO  Year  Weather Related Displacements
0      Abyei Area  AB9  2018                              2
1      Abyei Area  AB9  2019                          40000
2     Afghanistan  AFG  2008                            180
3     Afghanistan  AFG  2009                          25000
4     Afghanistan  AFG  2010                          70000
...           ...  ...   ...                            ...
1451     Zimbabwe  ZWE  2017                          10308
1452     Zimbabwe  ZWE  2018                           1066
1453     Zimbabwe  ZWE  2019                          52400
1454     Zimbabwe  ZWE  2020                            385
1455     Zimbabwe  ZWE  2021                           2338

[1456 rows x 4 columns]

In [425]:
world_co2 = world_ghg.rename(columns = {'country' : 'Name', 'year' : 'Year', 'cement_co2': 'Cement CO2', 'coal_co2' : 'Coal CO2', 'gas_co2' : 'Gas CO2',
                           'oil_co2': 'Oil_CO2', 'flaring_co2':'Flaring CO2', 'other_industry_co2': 'Other Industry CO2'})

In [431]:
world_co2

,Name,Year,Cement CO2,Coal CO2,Gas CO2,Oil_CO2,Flaring CO2,Other Industry CO2
0,World,1750,0.000,9.351,0.000,0.000,0.000,0.000
1,World,1751,0.000,9.351,0.000,0.000,0.000,0.000
2,World,1752,0.000,9.354,0.000,0.000,0.000,0.000
3,World,1753,0.000,9.354,0.000,0.000,0.000,0.000
4,World,1754,0.000,9.358,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...
267,World,2017,1507.923,14506.974,7144.928,12242.628,391.992,302.294
268,World,2018,1569.218,14746.831,7529.847,12266.017,412.116,302.479
269,World,2019,1617.507,14725.978,7647.528,12345.653,439.254,306.639
270,World,2020,1637.537,14174.564,7556.290,11191.809,407.584,296.302
271,World,2021,1672.592,14979.598,7921.830,11837.159,416.526,296.146

Global temperature anomaly in the world - annual basis

In [429]:
global_temp = global_temp.rename(columns = {'Entity':'Name', 'Temperature anomaly' : 'Temp Anomaly'})

In [430]:
global_temp

      Name  Year  Temp Anomaly
0    World  1880     -0.166667
1    World  1881     -0.082500
2    World  1882     -0.110000
3    World  1883     -0.174167
4    World  1884     -0.280000
..     ...   ...           ...
139  World  2019      0.976667
140  World  2020      1.017500
141  World  2021      0.844167
142  World  2022      0.891667
143  World  2023      0.915000

[144 rows x 3 columns]

### Exporting the datasets

Run the code below to export the datasets in the local folder

In [438]:
total_ghg_country.to_csv('rendered/factors/total_ghg_country.csv', index=False)
perCapita_ghg_country.to_csv('rendered/factors/perCapita_ghg_country.csv', index=False)
weather_related_dis.to_csv('rendered/effects/weather_related_dis.csv', index=False)
world_co2.to_csv('rendered/factors/world_co2.csv', index=False)
global_temp.to_csv('rendered/factors/global_temp.csv', index=False)